<nav class="menu">
	<ul class="menuList text-right">
		<li class="menuListElement"><a style="text-decoration: none;" href="#/!">HOME</a></li>
		<li class="menuListElement"><a style="text-decoration: none;" href="#!demo">DEMO</a></li>
		<li class="menuListElement dropdwn" ><a style="text-decoration: none;" href="#!profile" class="dropbtn text-center">MY PROFILE</a>
			<div class="dropdown-content text-left">
				<a style="text-decoration: none;" href="#!viewSkills">VIEW MY SKILLS</a>
				<a style="text-decoration: none;" href="#!createSkills">CREATE NEW SKILL</a>
			</div>
		</li>
		<li class="menuListElement"><a style="text-decoration: none;" href="#!team">OUR TEAM</a></li>
		<li class="menuListElement"><a style="text-decoration: none;" href="#!contact">CONTACT US</a></li>
		<li class="menuListElement"><a style="text-decoration: none;" href="#!signIn">SIGN IN</a></li>
	</ul>
</nav>