<div class="signInBox">
	<form class="form-signin">       
		<h2 class="form-signin-heading">Register</h2>
		<h5 class="lbl">Email</h5>
		<input type="text" class="form-control" name="username" required="" autofocus="" />
		<h5 class="lbl">Password</h5>
		<input type="password" class="form-control" id="newPassword" name="password" required=""/>      
        <h5 class="lbl">Retype Password<span id="noMatch"></span></h5>
		<input type="password" class="form-control" id="confirmPassword" name="password" required=""/>      
        
        <h3 class="capcha">
            <span id="number1"></span>
            <span id="sign"></span>
            <span id="number2"></span>
            =
            <input type="number" id="capchaInput" required=""/>
        </h3>
        
        <button class="btn btn-lg btn-block mainBtn" type="submit">Register</button>  
		
		<h5>By registering you are agreeing to our <a href="#!TnC">Terms and Conditions</a></h5>
	</form>
</div>