@charset "UTF-8";
/* CSS Document */

/*COLORS*/
:root {
  --main-blue: #3d85c6;
  --light-grey: #d3d3d3;
  --grey: grey;
  --dark-grey: #4d4d4d;
}

html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}
.emptyBtn {
  background-color: white;
  color: var(--main-blue);
  border-color: var(--main-blue);
  border-radius: 0px;
}
h3 {
  padding-bottom: 8px;
}
/*
 * HEADER
 */
.logo {
  min-width: 20%;
  display: inline-block;
  padding: 0px 24px;
  padding-top: 5px;
  color: white !important;
  overflow: hidden;
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
}
.logo span {
  color: var(--main-blue);
  font-weight: bold;
}
.logo img {
  padding-left: 10px;
  height: 40px;
}
.current {
  background-color: var(--main-blue) !important;
  color: white !important;
}
.navbar {
  border-radius: 0px;
  border-width: 0px;
}
.navbar-collapse {
  border-top-width: 0px;
}
.navbar-toggle {
  border-width: 0px;
}
.dropdown-menu > li > a {
  padding: 15px 30px;
}
.navbar-nav > li > a {
  padding-bottom: 16px !important;
}
/*
 * HOME
 */
.home-header {
  overflow-wrap: break-word;
}
.home-container {
  display: flex;
  align-items: center;
}
.home-section-1 {
  height: 65%;
  position: absolute;
  top: 105px;
  right: 0px;
}
.home-section-2 {
  margin-left: 10%;
}
.home-section-2 h1 {
  margin-top: 0;
  font-size: 100px;
}
.home-section-2 h3 {
  font-size: 35px;
}
.home-section-2 span {
  font-weight: bold;
  color: var(--main-blue);
}
.home-section-1 img {
  height: 100%;
}
.learnMoreBtn {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*
 * DEMO
 */
.demoVid {
  margin-bottom: 50px;
}
video {
  width: 100%;
}
/*
 * SIGN IN
 */
.signInBox {
  margin-top: 40px;
  margin-bottom: 65px;
}
.form-signin {
  max-width: 380px;
  padding: 15px 35px 15px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: WhiteSmoke;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin input {
  background-color: whitesmoke;
  border: none;
  border-bottom: 1px solid black;
}
.forgotPass a {
  cursor: pointer;
  float: right;
  margin-bottom: 30px;
}
.form-signin-heading {
  margin-bottom: 30px;
  font-weight: normal;
}
.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  max-width: 800px;
}
.mainBtn {
  background-color: whitesmoke;
  color: var(--main-blue);
  border-color: var(--main-blue);
  border-radius: 0px;
}
.newCustBtn {
  background-color: whitesmoke;
  color: var(--grey);
  border-color: var(--grey);
  border-radius: 0px;
}
.TnC {
  padding-top: 10px;
  text-align: center;
}
.response-error {
  color: #ed493d;
  font-size: 15px;
  margin-top: 50px;
  margin-bottom: 20px;
  opacity: 0.9;
}
/*
 * REGISTER
 */
.capcha {
  text-align: center;
  padding: 10px;
}
#capchaInput {
  width: 100px;
}
.registerBtn {
  margin-top: 25px;
  background-color: white;
  width: 100%;
}
.register-form {
  max-width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}
.register-form input {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  width: 100%;
}
.regCol1,
.regCol2 {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 80px;
}
.regCol2 {
  float: right;
}
.regBreak {
  height: 70px;
}
.doubleReg .col {
  width: 45%;
  display: inline-block;
}
.doubleReg .col input {
  width: 100%;
}
.col2 {
  float: right;
}
.RegTnC {
  padding-top: 10px;
}

/*
 * PROFILE
 */
.profile1 {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  margin-right: 70px;
}
.profile1 img {
  width: 200px;
}
.profile2 {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  line-height: 5rem;
}
.profile3 {
  display: inline-block;
  font-size: 20px;
  line-height: 5rem;
  margin-left: 50px;
  min-height: 450px;
}
.overflow-visible {
  overflow: visible;
}
.addr {
  line-height: 4rem;
}
/*
 * CREATE SKILL
 */
.templates {
  vertical-align: top;
  width: 18%;
  display: inline-block;
  margin: 60px;
  text-align: left;
}
.templates h3 {
  font-weight: bold;
  color: #232f3e;
  cursor: pointer;
}
.templates h3:hover {
  color: #0880f7;
}
.underline {
  margin-top: -5px;
  background-color: #0880f7;
  height: 5px;
  width: 100%;
}

.newSkillForm {
  width: 100%;
  margin: 20px;
}
.newSkillForm form {
  width: 80%;
  margin: auto;
}
/*
 * CREATE SKILL CHOICE
 */
.skill-template-item {
  padding: 20px;
  width: 50%;
  min-width: 200px;
}
.skill-template-container {
  margin-top: 50px;
  display: flex;
}
.thumbnail-ext {
  height: 100%;
  position: relative;
}
.select-skill-btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}
.select-skill-text {
  margin-bottom: 30px;
}

/*
 * VIEW MY SKILLS
 */
.skills-btn {
  color: var(--main-blue);
  padding: 0px 10px;
  cursor: pointer;
}
.table {
  width: 100%;
  margin-bottom: 60px;
  overflow-x: scroll;
}
th {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  white-space: nowrap;
}
td {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  white-space: nowrap;
}
.view-skills-table {
  overflow-x: scroll;
}

/*
 * TEAM
 */

/*
 * CONTACT
 */
.contact-section {
  padding-top: 50px;
}
.form-control {
  border-radius: 0px;
}

/*
 * FOOTER
 */
footer {
  background-color: var(--light-grey);
  color: var(--dark-grey);
  width: 100%;
  padding: 10px;
  margin-top: 50px;
}
.footer_current {
  text-decoration: underline;
}
.footerCol {
  width: 33%;
  display: inline-block;
  line-height: 1.5rem;
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
  overflow-wrap: break-word;
}
.footerCol a {
  color: var(--dark-grey);
}
.leftCol {
  padding-left: 10px;
}
.rightCol {
  padding-right: 10px;
}
.footerCol span {
  font-weight: bold;
  line-height: 2rem;
}
.fmenuListElement a {
  color: var(--dark-grey);
  text-decoration: none;
}
.fmenuLabel {
  margin-bottom: 10px;
  margin-top: 6px;
}
.footerCol svg {
  width: 30px;
  height: 30px;
  margin: 5px;
}
.footerCol svg:hover {
  color: var(--main-blue);
  cursor: pointer;
}

/*
 * EXTRA CSS
 */
.form-submit {
  margin-bottom: 25px !important;
}
.hidden {
  display: none;
}
.form-container {
  max-width: 750px;
}
.spinner {
  width: 80px;
  height: 80px;

  z-index: -1;

  border: 2px solid #f3f3f3;
  border-top: 3px solid var(--main-blue);
  border-radius: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  overflow: hidden;

  animation: spin 1s infinite linear;
}
.spinner-small {
  width: 40px;
  height: 40px;

  z-index: -1;

  border: 2px solid #f3f3f3;
  border-top: 3px solid var(--main-blue);
  border-radius: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  animation: spin 1s infinite linear;
}

.spinner-inline {
  width: 30px;
  height: 30px;

  z-index: -1;

  border: 2px solid #f3f3f3;
  border-top: 3px solid var(--main-blue);
  border-radius: 100%;

  display: inline-block;
  margin-left: 15px;
  margin-bottom: 12px;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cls-1 {
  fill: none;
  stroke: #231f20;
  stroke-miterlimit: 10;
  stroke-width: 5px;
}
.circle {
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
}
.checkmark {
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
}
.run-animation {
  .circle {
    animation: 2.5s circleDraw forwards;
  }

  .checkmark {
    animation: 0.75s checkmarkDraw forwards;
    animation-delay: 1s;
  }
}
.bm-nav {
  height: 60px;
  background-color: black;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(238, 238, 238);
}
.page-container {
  min-height: 534px !important;
  overflow: hidden;
}

/*Tablet Adjustments*/
@media screen and (max-width: 992px) {
  .home-section-1 {
    z-index: -1;
    opacity: 0.3;
  }
  .home-section-2 {
    width: 540px;
    height: auto;
    margin: auto;
  }
}

/*Mobile Adjustments*/
@media screen and (max-width: 530px) {
  .home-section-1 {
    top: 100px;
    height: 50%;
  }
  .home-section-2 h1 {
    font-size: 60px;
  }
  .home-section-2 h3 {
    font-size: 25px;
  }
  .profile1 {
    width: 200px;
  }
  .profile1 img {
    width: 200px;
  }
  .profile2 {
    font-size: 15px;
    margin-left: 10px;
  }
  .profile3 {
    font-size: 17px;
    margin-left: 5px;
  }
  .regCol1,
  .regCol2 {
    width: 100%;
    display: block;
  }
  .regBreak {
    height: 0px;
  }
  .skill-template-item {
    min-width: 100%;
  }
  .skill-template-container {
    display: block;
  }
  .select-skill-text {
    margin-bottom: 50px;
  }
  .footerCol {
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
  }
}

.edit-skill-container {
  padding-bottom: 30px;
}

.submit-skill-btn {
  margin-bottom: 50px;
}

.disabled-btn {
  cursor: default !important;
  border-color: ;
}

.error-banner {
  border: 1px solid red;
  padding: 20px;
  background-color: #fcefef;
}

.error-banner:focus {
  outline: 0 !important;
}

.error-banner-title {
  font-size: 16px;
}

.error-banner-violation {
  margin-top: 12px;
}

td {
  padding: 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: left;
  font-size: 20px;
}

table {
  width: 100%;
  height: 100%;
  max-width: 800px;
}

.profile-container {
  display: flex;
  width: 100%;
  max-width: 500px;
}

@media screen and (max-width: 686px) {
  .profile-container {
    display: inline-block;
  }

  table {
    width: 100%;
    height: 100%;
    margin-top: 22px;
  }
}
