@charset "UTF-8";
/* CSS Document */

/* COLORS
 * #232f3e -- navy
 * #0880f7 -- blue
 * #ff7f00 -- orange
 */

html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  padding: 0 0 100px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

h3 {
  padding-bottom: 8px;
}

.pageHeader {
  margin-top: 80px;
  text-align: center;
}
.pageHeader span {
  font-size: 40px;
  color: #0880f7;
}
.pageSubheader {
  text-align: center;
  margin-bottom: 30px;
}
/*
 * HEADER
 */
.menuList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #232f3e;
  min-width: 632px;
}
.menuListElement {
  display: inline;
}
.menuListElement a,
.dropbtn {
  display: inline-block;
  color: white;
  padding: 20px 24px;
  text-decoration: none;
}
.menuListElement a:hover,
.dropdwn:hover .dropbtn,
.dropdown-content a:hover {
  background-color: #0880f7;
  color: white;
}
.menuListElement.dropdwn {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdwn:hover .dropdown-content {
  display: block;
  left: auto;
  right: 0;
}

.logo {
  padding-top: 20px;
  width: 100%;
}

/*
 * FOOTER
 */
.fmenuList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #232f3e;
}
.fmenuListElement {
  display: inline;
}
.fmenuListElement a,
.fdropbtn {
  display: inline-block;
  color: white;
  padding: 20px 24px;
  text-decoration: none;
}
.fmenuListElement a:hover,
.fdropdwn:hover .fdropbtn,
.fdropdown-content a:hover {
  background-color: #232f3e;
  color: white;
}
.fmenuListElement.dropdwn {
  display: inline-block;
}
.fdropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.fdropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.fdropdwn:hover .fdropdown-content {
  display: block;
}

.flogo {
  padding-top: 20px;
  width: 100%;
}

/*
 * HOME
 */
.logo img {
  width: 60%;
  display: block;
  margin: auto;
}

.demoVid {
  margin-bottom: 50px;
}
/*
 * SIGN IN
 */
.signInBox {
  margin-top: 80px;
}
.form-signin {
  max-width: 380px;
  padding: 15px 35px 15px;
  margin: 0 auto;
  background-color: WhiteSmoke;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.signin-password {
  margin-bottom: 30px;
}
.lbl {
  font-weight: bold;
}
.lbl a {
  font-weight: normal;
  cursor: pointer;
  float: right;
}
.form-signin-heading {
  margin-bottom: 30px;
  font-weight: normal;
}
.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  max-width: 800px;
}
.mainBtn {
  background-color: #0880f7;
  color: white;
}
.newCustBtn {
  background-color: grey;
  color: white;
}
.TnC {
  padding-top: 20px;
  text-align: center;
}
/*
 * REGISTER
 */
#noMatch {
  color: red;
  float: right;
  font-weight: normal;
}
.capcha {
  text-align: center;
  padding: 10px;
}
#capchaInput {
  width: 100px;
}
/*
 * PORTFOLIO
 */
.gallery {
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
  -moz-column-count: 4; /* Firefox */
  column-count: 4;
  margin: 15px;
}
.galleryImg {
  width: 100%;
  margin: 5px;
}

/*
 * Button Cards
 */
.card {
  width: 300px;
  display: inline-block;
  background-color: white;
  margin: 20px;
}
.card img {
  width: 100%;
  height: 300px;
  border-radius: 50%;
}
.cardTitle {
  padding: 0 16px;
  font-size: 20px;
  color: black;
  background-color: white;
}
/*
 * CREATE SKILL
 */
.templates {
  vertical-align: top;
  width: 18%;
  display: inline-block;
  margin: 60px;
  text-align: left;
}
.templates h3 {
  font-weight: bold;
  color: #232f3e;
  cursor: pointer;
}
.templates h3:hover {
  color: #0880f7;
}
.underline {
  margin-top: -5px;
  background-color: #0880f7;
  height: 5px;
  width: 100%;
}

.newSkillForm {
  width: 100%;
  margin: 20px;
}
.newSkillForm form {
  width: 80%;
  margin: auto;
}

/*
 * VIEW MY SKILLS
 */
.viewskills {
  height: 0px;
  border-bottom: solid 2px black;
}
.table {
  width: 100%;
}
th {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1.2px solid;
  white-space: nowrap;
}

td {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 0.5px solid;
  white-space: nowrap;
}

/*
 * TEAM
 */
.teamCard {
  width: 100%;
  display: inline-block;
  margin: 10px 40px;
  margin-left: -15px;
}
.teamImg img:hover {
  height: 120%;
}
.teamImg {
  display: inline-block;
  width: 225px;
  height: 225px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0px 50px;
  cursor: pointer;
}
.teamImg img {
  width: auto;
  height: 100%;
}
.teamInfo {
  font-size: 20px;
  width: 60%;
  text-align: left;
  margin-bottom: 30px;
  margin-left: 20px;
}
.teamName {
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  padding-bottom: 20px;
}

/*
 * CONTACT
 */
#contact {
  padding-top: 60px;
  width: 100%;
  width: 100vw;
  height: 550px;
}
.content-header {
  color: #0880f7;
  font-size: 45px;
}
.section-content {
  text-align: center;
}
.contact-section {
  padding-top: 40px;
}
.contact-section .col-md-6 {
  width: 50%;
}
.form-line {
  border-right: 1px solid #b29999;
}

/*
 * FOOTER
 */
footer {
  background-color: #232f3e;
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  padding-top: 40px;
  min-width: 632px;
}

.form-submit {
  margin-bottom: 25px !important;
}

.skill-template-item {
  padding: 20px;
  width: 50%;
  min-width: 200px;
}

.skill-template-container {
  margin-top: 50px;
  display: flex;
}

.response-modal {
  /*width: 80%;*/
}

.home-section-1 {
  height: ;
}

.hidden {
  display: none;
}

.negative-margin-btm {
  margin-bottom: -15px;
}

.form-container {
  max-width: 750px;
}

.thumbnail-ext {
  height: 100%;
  position: relative;
}

.select-skill-btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
}

.select-skill-text {
  margin-bottom: 20px;
}
